.git
.gitignore
.gitattributes
.github
node_modules
vendor
dump.rdb
*.log
.env
.env.*
!.env.example
storage/framework/*
storage/logs/*
storage/app/media/*
storage/app/private/*
docker-volumes/
CHANGELOG.md
README.md
design-reference
docs
tools
marketplace/
marketplace/node_modules
marketplace/.output
marketplace/.nuxt